<div class="form-page-container">

    <div class="form-card">
        <h2 class="form-title">
            {{ isEditMode ? 'Formulario de Edición' : 'Formulario de Registro' }}
        </h2>

        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

            <div class="form-grid">

                <div class="form-group">
                    <label for="id">ID</label>
                    <input id="id" type="text" formControlName="id" [readonly]="isEditMode"
                        [class.input-error]="controls['id'].invalid && (controls['id'].dirty || controls['id'].touched)">

                    <ng-container *ngIf="controls['id'].invalid && (controls['id'].dirty || controls['id'].touched)">
                        <div *ngIf="controls['id'].errors?.['required']" class="error-message">Este campo es requerido
                        </div>
                        <div *ngIf="controls['id'].errors?.['minlength']" class="error-message">Mínimo 3 caracteres.
                        </div>
                        <div *ngIf="controls['id'].errors?.['maxlength']" class="error-message">Máximo 10 caracteres.
                        </div>
                        <div *ngIf="controls['id'].errors?.['idNotUnique']" class="error-message">ID no válido (ya
                            existe).</div>
                        <div *ngIf="controls['id'].pending" class="validation-pending">Verificando ID...</div>
                    </ng-container>
                </div>

                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input id="name" type="text" formControlName="name"
                        [class.input-error]="controls['name'].invalid && (controls['name'].dirty || controls['name'].touched)">

                    <ng-container
                        *ngIf="controls['name'].invalid && (controls['name'].dirty || controls['name'].touched)">
                        <div *ngIf="controls['name'].errors?.['required']" class="error-message">Este campo es requerido
                        </div>
                        <div *ngIf="controls['name'].errors?.['minlength']" class="error-message">Mínimo 6 caracteres.
                        </div>
                        <div *ngIf="controls['name'].errors?.['maxlength']" class="error-message">Máximo 100 caracteres.
                        </div>
                    </ng-container>
                </div>

                <div class="form-group">
                    <label for="description">Descripción</label>
                    <input id="description" type="text" formControlName="description"
                        [class.input-error]="controls['description'].invalid && (controls['description'].dirty || controls['description'].touched)">

                    <ng-container
                        *ngIf="controls['description'].invalid && (controls['description'].dirty || controls['description'].touched)">
                        <div *ngIf="controls['description'].errors?.['required']" class="error-message">Este campo es
                            requerido</div>
                        <div *ngIf="controls['description'].errors?.['minlength']" class="error-message">Mínimo 10
                            caracteres.</div>
                        <div *ngIf="controls['description'].errors?.['maxlength']" class="error-message">Máximo 200
                            caracteres.</div>
                    </ng-container>
                </div>

                <div class="form-group">
                    <label for="logo">Logo</label>
                    <input id="logo" type="text" formControlName="logo"
                        [class.input-error]="controls['logo'].invalid && (controls['logo'].dirty || controls['logo'].touched)">

                    <ng-container
                        *ngIf="controls['logo'].invalid && (controls['logo'].dirty || controls['logo'].touched)">
                        <div *ngIf="controls['logo'].errors?.['required']" class="error-message">Este campo es requerido
                        </div>
                    </ng-container>
                </div>

                <div class="form-group">
                    <label for="date_release">Fecha de Liberación</label>
                    <input id="date_release" type="date" formControlName="date_release" (change)="setRevisionDate()"
                        [class.input-error]="controls['date_release'].invalid && (controls['date_release'].dirty || controls['date_release'].touched)">

                    <ng-container
                        *ngIf="controls['date_release'].invalid && (controls['date_release'].dirty || controls['date_release'].touched)">
                        <div *ngIf="controls['date_release'].errors?.['required']" class="error-message">Este campo es
                            requerido</div>
                        <div *ngIf="controls['date_release'].errors?.['minDate']" class="error-message">La fecha debe
                            ser
                            igual o posterior a hoy.</div>
                    </ng-container>
                </div>

                <div class="form-group">
                    <label for="date_revision">Fecha de Revisión</label>
                    <input id="date_revision" type="date" formControlName="date_revision" [readonly]="true"
                        [class.input-error]="controls['date_revision'].invalid && (controls['date_revision'].dirty || controls['date_revision'].touched)">

                    <ng-container
                        *ngIf="controls['date_revision'].invalid && (controls['date_revision'].dirty || controls['date_revision'].touched)">
                        <div *ngIf="controls['date_revision'].errors?.['required']" class="error-message">Este campo es
                            requerido</div>
                        <div *ngIf="controls['date_revision'].errors?.['oneYearAfter']" class="error-message">Debe ser
                            exactamente un año después de la liberación.</div>
                    </ng-container>
                </div>

            </div>
            <div class="form-controls">
                <button type="button" class="btn-secondary" (click)="onReset()">Reiniciar</button>
                <button type="submit" class="btn-primary"
                    [disabled]="productForm.invalid || isSubmitting">Enviar</button>
            </div>

        </form>
    </div>
</div>